import geopandas as gpd

parks=gpd.read_file("/home/mint/projects/test/DevGISModels/QGIS/projects/Data/houston.shp")
parks.plot()

! pip install geopandas

 !pip install --upgrade pip

In [38]:
from arcgis import GIS
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor
gis = GIS()
known_item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
known_item

# Obtain the first feature layer from the item
fl = known_item.layers[0]

# Use the `from_layer` static method in the 'spatial' namespace on the Pandas' DataFrame
sdf = pd.DataFrame.spatial.from_layer(fl)

# Return the first 5 records. 
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,1313,1058,734,2031,1767,1446,1136,1503,665,486,...,1601990,13816,15181,6,1271,"{""x"": -12462673.723706165, ""y"": 5384674.994080...",ID,16,271,13002
1,890,817,818,1799,1235,1330,1143,1099,721,579,...,1607840,11899,11946,6,1441,"{""x"": -12506251.313993266, ""y"": 5341537.793529...",ID,16,318,9893
2,12750,13959,16966,32135,27048,29595,24177,12933,12176,7087,...,1608830,205671,225405,8,33359,"{""x"": -12938676.6836459, ""y"": 5403597.04949123...",ID,16,6996,182991
3,790,768,699,1445,1136,1134,935,959,679,464,...,1611260,10345,10727,6,1461,"{""x"": -12667411.402393516, ""y"": 5241722.820606...",ID,16,241,7984
4,3803,3779,3687,7571,5559,4744,3624,4397,2296,1222,...,1612250,46237,53942,7,5196,"{""x"": -12989383.674504515, ""y"": 5413226.487333...",ID,16,1428,35856

In [40]:
df = fl.query(where="AGE_45_54 < 1500").sdf
for a,b,c,d in zip(df.columns[::4], df.columns[1::4],df.columns[2::4], df.columns[3::4]):
    print("{:<30}{:<30}{:<30}{:<}".format(a,b,c,d))

FID                           NAME                          CLASS                         ST
STFIPS                        PLACEFIPS                     CAPITAL                       POP_CLASS
POPULATION                    POP2010                       WHITE                         BLACK
AMERI_ES                      ASIAN                         HAWN_PI                       HISPANIC
OTHER                         MULT_RACE                     MALES                         FEMALES
AGE_UNDER5                    AGE_5_9                       AGE_10_14                     AGE_15_19
AGE_20_24                     AGE_25_34                     AGE_35_44                     AGE_45_54
AGE_55_64                     AGE_65_74                     AGE_75_84                     AGE_85_UP
MED_AGE                       MED_AGE_M                     MED_AGE_F                     HOUSEHOLDS
AVE_HH_SZ                     HSEHLD_1_M                    HSEHLD_1_F                    MARHH_CHD
MARHH_NO_C                    MHH_CHILD                     FHH_CHILD                     FAMILIES
AVE_FAM_SZ                    HSE_UNITS                     VACANT                        OWNER_OCC

In [41]:
df[['NAME', 'AGE_45_54', 'POP2010']].head()

        NAME  AGE_45_54  POP2010
0      Ammon       1446    13816
1  Blackfoot       1330    11899
2     Burley       1134    10345
3   Chubbuck       1494    13922
4     Jerome       1155    10890